--
-- PostgreSQL database dump
--

\restrict h8Ot1e7E1kYHdh8kRPoUDM4S7EX6M2OKSOETmBuRJpkNR08ZNkIyvbrBBuVx0zo

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: EnrichmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EnrichmentStatus" AS ENUM (
    'pending',
    'processing',
    'completed',
    'failed',
    'queued_budget'
);


ALTER TYPE public."EnrichmentStatus" OWNER TO postgres;

--
-- Name: MemoryState; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MemoryState" AS ENUM (
    'SAVED',
    'DRAFT',
    'DELETED'
);


ALTER TYPE public."MemoryState" OWNER TO postgres;

--
-- Name: ReminderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReminderStatus" AS ENUM (
    'pending',
    'sent',
    'cancelled'
);


ALTER TYPE public."ReminderStatus" OWNER TO postgres;

--
-- Name: UserTier; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserTier" AS ENUM (
    'free',
    'premium'
);


ALTER TYPE public."UserTier" OWNER TO postgres;

--
-- Name: calculate_partition_key(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_partition_key(p_user_id uuid) RETURNS integer
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
  RETURN abs(hashtext(p_user_id::text)) % 16;
END;
$$;


ALTER FUNCTION public.calculate_partition_key(p_user_id uuid) OWNER TO postgres;

--
-- Name: search_similar_embeddings(uuid, public.vector, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.search_similar_embeddings(p_user_id uuid, p_query_vector public.vector, p_limit integer DEFAULT 20) RETURNS TABLE(memory_id uuid, similarity double precision)
    LANGUAGE plpgsql
    AS $$
DECLARE
  partition_num INT := calculate_partition_key(p_user_id);
BEGIN
  -- Set HNSW search parameter for this query
  PERFORM set_config('hnsw.ef_search', '40', true);
  
  RETURN QUERY
  SELECT e.memory_id, 1 - (e.vector <=> p_query_vector) AS similarity
  FROM embeddings e
  WHERE e.user_id = p_user_id
  AND e.partition_key = partition_num  -- Enables partition pruning
  ORDER BY e.vector <=> p_query_vector
  LIMIT p_limit;
END;
$$;


ALTER FUNCTION public.search_similar_embeddings(p_user_id uuid, p_query_vector public.vector, p_limit integer) OWNER TO postgres;

--
-- Name: set_partition_key(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_partition_key() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF NEW.partition_key IS NULL THEN
    NEW.partition_key := calculate_partition_key(NEW.user_id);
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_partition_key() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: ai_cost_tracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_cost_tracking (
    id integer NOT NULL,
    date date DEFAULT CURRENT_TIMESTAMP NOT NULL,
    user_id uuid NOT NULL,
    operation character varying(50) NOT NULL,
    tokens_used integer NOT NULL,
    cost_cents numeric(10,4) NOT NULL,
    model character varying(100) NOT NULL,
    memory_id uuid,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ai_cost_tracking OWNER TO postgres;

--
-- Name: ai_cost_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_cost_tracking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_cost_tracking_id_seq OWNER TO postgres;

--
-- Name: ai_cost_tracking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_cost_tracking_id_seq OWNED BY public.ai_cost_tracking.id;


--
-- Name: embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.embeddings (
    id uuid NOT NULL,
    memory_id uuid NOT NULL,
    user_id uuid NOT NULL,
    model_version text DEFAULT 'text-embedding-ada-002'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.embeddings OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    event_date timestamp(3) without time zone,
    location text,
    image_url text,
    tags jsonb,
    last_enriched_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: idempotency_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.idempotency_keys (
    idempotency_key character varying(100) NOT NULL,
    user_id uuid NOT NULL,
    endpoint character varying(100) NOT NULL,
    request_hash character varying(64),
    response_status integer,
    response_body jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    memory_id uuid
);


ALTER TABLE public.idempotency_keys OWNER TO postgres;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    address text,
    city text,
    country text,
    latitude double precision,
    longitude double precision,
    place_type text,
    image_url text,
    last_enriched_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memories (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    text_content text,
    image_url text,
    state public."MemoryState" DEFAULT 'SAVED'::public."MemoryState" NOT NULL,
    content_hash character varying(32),
    enrichment_status public."EnrichmentStatus" DEFAULT 'pending'::public."EnrichmentStatus" NOT NULL,
    enrichment_queued_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    latitude double precision,
    longitude double precision,
    type_id uuid,
    word_id uuid,
    event_id uuid,
    location_id uuid,
    entity_id uuid
);


ALTER TABLE public.memories OWNER TO postgres;

--
-- Name: memory_entities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memory_entities (
    id uuid NOT NULL,
    memory_type_id uuid NOT NULL,
    name text NOT NULL,
    attributes jsonb,
    image_url text,
    last_enriched_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.memory_entities OWNER TO postgres;

--
-- Name: memory_relationships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memory_relationships (
    id uuid NOT NULL,
    source_memory_id uuid NOT NULL,
    related_memory_id uuid NOT NULL,
    relationship_type text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.memory_relationships OWNER TO postgres;

--
-- Name: memory_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memory_types (
    id uuid NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    icon text DEFAULT '≡ƒô¥'::text,
    color text DEFAULT '#6B7280'::text,
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.memory_types OWNER TO postgres;

--
-- Name: reminders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reminders (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    memory_id uuid NOT NULL,
    scheduled_at timestamp(3) without time zone NOT NULL,
    sent_at timestamp(3) without time zone,
    status public."ReminderStatus" DEFAULT 'pending'::public."ReminderStatus" NOT NULL,
    read_at timestamp(3) without time zone,
    dismissed_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.reminders OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    refresh_token_hash text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: tier_limits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tier_limits (
    tier text NOT NULL,
    memories_per_day integer NOT NULL,
    memories_per_month integer NOT NULL,
    images_per_month integer NOT NULL,
    voice_per_month integer NOT NULL,
    searches_per_day integer NOT NULL,
    storage_bytes bigint NOT NULL,
    api_rate_per_min integer NOT NULL
);


ALTER TABLE public.tier_limits OWNER TO postgres;

--
-- Name: user_usage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_usage (
    user_id uuid NOT NULL,
    memories_today integer DEFAULT 0 NOT NULL,
    memories_this_month integer DEFAULT 0 NOT NULL,
    images_this_month integer DEFAULT 0 NOT NULL,
    voice_this_month integer DEFAULT 0 NOT NULL,
    searches_today integer DEFAULT 0 NOT NULL,
    storage_bytes bigint DEFAULT 0 NOT NULL,
    last_daily_reset timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_monthly_reset timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_usage OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    tier text DEFAULT 'free'::text NOT NULL,
    roles text[] DEFAULT ARRAY['user'::text],
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: words; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.words (
    id uuid NOT NULL,
    word text NOT NULL,
    description text,
    phonetic text,
    image_url text,
    part_of_speech text,
    etymology text,
    examples jsonb,
    synonyms jsonb,
    antonyms jsonb,
    difficulty text,
    last_enriched_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.words OWNER TO postgres;

--
-- Name: ai_cost_tracking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_cost_tracking ALTER COLUMN id SET DEFAULT nextval('public.ai_cost_tracking_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ai_cost_tracking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.embeddings (id, memory_id, user_id, model_version, created_at) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: idempotency_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: memories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: memory_entities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.memory_entities (id, memory_type_id, name, attributes, image_url, last_enriched_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: memory_relationships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.memory_relationships (id, source_memory_id, related_memory_id, relationship_type, created_at) FROM stdin;
\.


--
-- Data for Name: memory_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tier_limits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tier_limits (tier, memories_per_day, memories_per_month, images_per_month, voice_per_month, searches_per_day, storage_bytes, api_rate_per_min) FROM stdin;
free	10	100	20	20	50	104857600	100
premium	100	-1	500	500	-1	10737418240	1000
\.


--
-- Data for Name: user_usage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_usage (user_id, memories_today, memories_this_month, images_this_month, voice_this_month, searches_today, storage_bytes, last_daily_reset, last_monthly_reset) FROM stdin;
34315ceb-dd9a-43bb-b0ab-4a67279348c7	0	0	0	0	0	0	2025-12-23 01:18:48.092	2025-12-23 01:18:48.092
91744a7e-2497-45cd-af27-99ce33afe6c7	3	13	0	0	0	0	2025-12-26 00:00:00	2025-12-23 00:11:42.64
23b76b6d-43ab-42a6-96e0-b85c9367790e	0	0	0	0	0	0	2025-12-23 11:33:02.437	2025-12-23 11:33:02.437
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: words; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_cost_tracking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_cost_tracking_id_seq', 52, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ai_cost_tracking ai_cost_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_cost_tracking
    ADD CONSTRAINT ai_cost_tracking_pkey PRIMARY KEY (id);


--
-- Name: embeddings embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: idempotency_keys idempotency_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.idempotency_keys
    ADD CONSTRAINT idempotency_keys_pkey PRIMARY KEY (idempotency_key);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: memories memories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_pkey PRIMARY KEY (id);


--
-- Name: memory_entities memory_entities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_entities
    ADD CONSTRAINT memory_entities_pkey PRIMARY KEY (id);


--
-- Name: memory_relationships memory_relationships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_relationships
    ADD CONSTRAINT memory_relationships_pkey PRIMARY KEY (id);


--
-- Name: memory_types memory_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_types
    ADD CONSTRAINT memory_types_pkey PRIMARY KEY (id);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: tier_limits tier_limits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tier_limits
    ADD CONSTRAINT tier_limits_pkey PRIMARY KEY (tier);


--
-- Name: user_usage user_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_usage
    ADD CONSTRAINT user_usage_pkey PRIMARY KEY (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: words words_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.words
    ADD CONSTRAINT words_pkey PRIMARY KEY (id);


--
-- Name: ai_cost_tracking_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ai_cost_tracking_date_idx ON public.ai_cost_tracking USING btree (date);


--
-- Name: ai_cost_tracking_user_id_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ai_cost_tracking_user_id_date_idx ON public.ai_cost_tracking USING btree (user_id, date);


--
-- Name: embeddings_memory_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX embeddings_memory_id_idx ON public.embeddings USING btree (memory_id);


--
-- Name: embeddings_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX embeddings_user_id_idx ON public.embeddings USING btree (user_id);


--
-- Name: events_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX events_name_key ON public.events USING btree (name);


--
-- Name: idempotency_keys_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idempotency_keys_expires_at_idx ON public.idempotency_keys USING btree (expires_at);


--
-- Name: idempotency_keys_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idempotency_keys_user_id_idx ON public.idempotency_keys USING btree (user_id);


--
-- Name: locations_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX locations_name_key ON public.locations USING btree (name);


--
-- Name: memories_entity_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_entity_id_idx ON public.memories USING btree (entity_id);


--
-- Name: memories_event_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_event_id_idx ON public.memories USING btree (event_id);


--
-- Name: memories_location_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_location_id_idx ON public.memories USING btree (location_id);


--
-- Name: memories_type_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_type_id_idx ON public.memories USING btree (type_id);


--
-- Name: memories_user_id_content_hash_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_user_id_content_hash_created_at_idx ON public.memories USING btree (user_id, content_hash, created_at);


--
-- Name: memories_user_id_state_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_user_id_state_idx ON public.memories USING btree (user_id, state);


--
-- Name: memories_word_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_word_id_idx ON public.memories USING btree (word_id);


--
-- Name: memory_entities_memory_type_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memory_entities_memory_type_id_idx ON public.memory_entities USING btree (memory_type_id);


--
-- Name: memory_entities_memory_type_id_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX memory_entities_memory_type_id_name_key ON public.memory_entities USING btree (memory_type_id, name);


--
-- Name: memory_entities_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memory_entities_name_idx ON public.memory_entities USING btree (name);


--
-- Name: memory_relationships_related_memory_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memory_relationships_related_memory_id_idx ON public.memory_relationships USING btree (related_memory_id);


--
-- Name: memory_relationships_source_memory_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memory_relationships_source_memory_id_idx ON public.memory_relationships USING btree (source_memory_id);


--
-- Name: memory_relationships_source_memory_id_related_memory_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX memory_relationships_source_memory_id_related_memory_id_key ON public.memory_relationships USING btree (source_memory_id, related_memory_id);


--
-- Name: memory_types_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX memory_types_name_key ON public.memory_types USING btree (name);


--
-- Name: memory_types_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX memory_types_slug_key ON public.memory_types USING btree (slug);


--
-- Name: reminders_user_id_status_read_at_dismissed_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reminders_user_id_status_read_at_dismissed_at_idx ON public.reminders USING btree (user_id, status, read_at, dismissed_at);


--
-- Name: reminders_user_id_status_read_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reminders_user_id_status_read_at_idx ON public.reminders USING btree (user_id, status, read_at);


--
-- Name: sessions_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_expires_at_idx ON public.sessions USING btree (expires_at);


--
-- Name: sessions_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_user_id_idx ON public.sessions USING btree (user_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: words_word_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX words_word_key ON public.words USING btree (word);


--
-- Name: embeddings embeddings_partition_key_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER embeddings_partition_key_trigger BEFORE INSERT OR UPDATE OF user_id ON public.embeddings FOR EACH ROW EXECUTE FUNCTION public.set_partition_key();


--
-- Name: ai_cost_tracking ai_cost_tracking_memory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_cost_tracking
    ADD CONSTRAINT ai_cost_tracking_memory_id_fkey FOREIGN KEY (memory_id) REFERENCES public.memories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ai_cost_tracking ai_cost_tracking_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_cost_tracking
    ADD CONSTRAINT ai_cost_tracking_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: embeddings embeddings_memory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_memory_id_fkey FOREIGN KEY (memory_id) REFERENCES public.memories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: idempotency_keys idempotency_keys_memory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.idempotency_keys
    ADD CONSTRAINT idempotency_keys_memory_id_fkey FOREIGN KEY (memory_id) REFERENCES public.memories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: idempotency_keys idempotency_keys_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.idempotency_keys
    ADD CONSTRAINT idempotency_keys_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: memories memories_entity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_entity_id_fkey FOREIGN KEY (entity_id) REFERENCES public.memory_entities(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: memories memories_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: memories memories_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: memories memories_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.memory_types(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: memories memories_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: memories memories_word_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_word_id_fkey FOREIGN KEY (word_id) REFERENCES public.words(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: memory_entities memory_entities_memory_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_entities
    ADD CONSTRAINT memory_entities_memory_type_id_fkey FOREIGN KEY (memory_type_id) REFERENCES public.memory_types(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: memory_relationships memory_relationships_related_memory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_relationships
    ADD CONSTRAINT memory_relationships_related_memory_id_fkey FOREIGN KEY (related_memory_id) REFERENCES public.memories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: memory_relationships memory_relationships_source_memory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_relationships
    ADD CONSTRAINT memory_relationships_source_memory_id_fkey FOREIGN KEY (source_memory_id) REFERENCES public.memories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reminders reminders_memory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_memory_id_fkey FOREIGN KEY (memory_id) REFERENCES public.memories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reminders reminders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_usage user_usage_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_usage
    ADD CONSTRAINT user_usage_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict h8Ot1e7E1kYHdh8kRPoUDM4S7EX6M2OKSOETmBuRJpkNR08ZNkIyvbrBBuVx0zo

